*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";

body{
    background: -moz-linear-gradient(#0968e5,#091970);

    }

/* a{
    color:hotpink;
}

button:hover{
    background-color: black;
} */