*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background: -moz-linear-gradient(#0968e5,#091970);

    }

a{
    color:hotpink;
}

a:hover{
    background-color: brown;
}